<div *ngIf="figther" class="figther-design">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="hp" type="number" [(ngModel)]="figther.hp">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="atk" type="number" [(ngModel)]="figther.atk">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="def" type="number" [(ngModel)]="figther.def">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="acc" type="number" [(ngModel)]="figther.acc">
    </mat-form-field>
</div>