<mat-grid-list cols="3" rowHeight="2:1">

  <mat-grid-tile>
    <app-knight-list [knights]="knights" (selectedKnight)="onSelectKnight($event)">
    </app-knight-list>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-presentational>
    </app-presentational>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-dragons-list [dragons]="dragons" (selectedDragon)="onSelectDragon($event)">
    </app-dragons-list>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-figther-credential [figther]="selectedKnight">

    </app-figther-credential>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-fight-board>
    </app-fight-board>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-figther-credential [figther]="selectedDragon">

    </app-figther-credential>
  </mat-grid-tile>

</mat-grid-list>
