<div class="presentional-fighter">
  <div>
    <app-presentional-fighter [fighter]="knight">
    </app-presentional-fighter>
  </div>
  <div>
    <app-presentional-fighter [fighter]="dragon" [leftPanel]="true">
    </app-presentional-fighter>
  </div>
</div>