<div *ngIf="fighter">
  <div [ngClass]="{'container_2':leftPanel}">
    <mat-progress-bar mode="determinate" [value]="fighter.hpPercentage"></mat-progress-bar>
  </div>
  <img [src]="fighter.imgurl" width="100">
</div>